body{
	background-color:#333f4f !important;
	color:#FFF !important;
}

#content{
	padding:40px;
	background-color:#333f4f;
	height:100%;
	color:#FFF;
}

.hideme{
	display:none;
}

.menu{
	background:grey;
	width:100%;
	height:40px;
}

.menuItem{
	display: inline-block;
    background-color: #f68520;
    padding: 9px 10px;
    width: 200px;
    height: inherit;
    vertical-align: middle;
    color: #FFF;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
	cursor:pointer;
	border:1px solid transparent;
}

.menu .activeItem{
	border:1px solid #FFF;
}

.mainPanel{
	padding:15px;
}

input, button, select, textarea{
    width: 500px;
    height: 30px;
    padding: 5px;
	color:#000000 !important;
}

.reportDetails .resItem .label{
	font-size: 14px;
    color: #000;
    width: 103px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.reportDetails .resItem .text {
    display: inline-block;
    vertical-align: top;
}

.formGroup{
	border-bottom: 1px solid grey;
    height: 80px;
    padding: 10px 0px;
}

.formControl{
    height: 80px;
    padding: 10px 0px;
}

form label{
	display:block;
}

button, html input[type="button"], input[type="reset"], input[type="submit"]{
	background-color:#f68520;
	color: #FFF !important;
    border: none;
    padding: 10px;
    width: 100px;
    height: 40px;
    text-transform: uppercase;
}

.report{
	padding: 10px 0px;
}

.verbose_msg{
	font-size: 16px;
    padding: 0px 10px;
}
.reportDetails{
	padding:10px 0px;
}